:root {
	--color-primary-base: rgb(53 99 233);
	--color-primary-dark: rgb(26 55 167);
	--color-primary-light: rgb(101 141 241);
	--color-secondary-base: rgb(89 103 128);
	--color-secondary-dark: rgb(13 18 31);
	--color-secondary-light: rgb(195 212 233);
	--color-success-base: rgb(156 211 35);
	--color-error-base: rgb(219 39 25);
	--color-warning-base: rgb(255 199 58);
	--color-info-base: rgb(84 166 255);
	--color-red: rgb(237 63 63);
	--color-gray: rgb(246 247 249);
	--color-white: rgb(255 255 255);
}
