:root {
	--font-size-base: 16px;
	--font-size-3xl: 4.5rem;
	--font-size-2xl: 2.25rem;
	--font-size-xl: 1.5rem;
	--font-size-4xl: 1.25rem;
	--font-size-md: 1rem;
	--font-size-sm: 0.875rem;
	--font-size-xs: 0.75rem;
	--font-line-high-md: 140%;
	--font-line-high-xl: 120%;
	--font-weigh-regular: 400;
	--font-weigh-md: 500;
	--font-weigh-sm: 600;
	--font-weigh-b: 700;
	--font-color-btn-primary: #fff;
	--font-color-btn-secondary: #1a202c;
	--font-color-text: #1111;
}
