.button {
	padding: 12px 16px;
	background: transparent;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: var(--font-weigh-sm);
	text-decoration: none;

	&:disabled {
		opacity: 0.5;
	}

	&:focus {
		outline: none;
	}
}

.small {
	font-size: var(--font-size-xs);
	min-width: 90px;

	svg {
		max-width: 12px;
		max-height: 12px;
	}
}

.medium {
	font-size: var(--font-size-sm);
	min-width: 100px;

	svg {
		max-width: 14px;
		max-height: 14px;
	}
}

.large {
	min-width: 120px;
	font-size: var(--font-size-lg);

	svg {
		max-width: 20px;
		max-height: 20px;
	}
}

.with-icon {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	gap: 8px;
}

.icon-right {
	direction: rtl;
}

.primary {
	background-color: var(--color-primary-base);
	color: var(--font-color-btn-primary);

	:hover {
		background-color: var(--color-primary-dark);
	}

	:focus {
		background-color: var(--color-primary-dark);
	}

	&_light {
		background-color: var(--color-primary-light);
	}
}

.minimal {
	background: transparent;
	color: var(--font-color-btn-secondary);
	opacity: 0.8;

	svg path {
		fill: var(--color-secondary-base);
	}

	:focus {
		opacity: 1;
		border: 1px solid var(--color-secondary-light);
	}

	:hover {
		opacity: 1;
		background-color: var(--color-secondary-light);
	}

	:disabled {
		opacity: 0.4;
	}
}

.secondary {
	background: transparent;
	color: var(--font-color-btn-secondary);
	border: 1px solid var(--color-secondary-base);

	svg path {
		fill: var(--color-secondary-base);
	}

	:focus {
		opacity: 0.5;
	}

	:disabled {
		opacity: 0.3;
	}
}
