:root {
	--color-primary-base: rgb(53 99 233);
	--color-primary-dark: rgb(26 55 167);
	--color-primary-light: #658df1;
	--color-secondary-base: #1a202c;
	--color-secondary-dark: #0d121f;
	--color-secondary-light: #596780;
	--color-success-base: #9cd323;
	--color-error-base: #db2719;
	--color-warning-base: #ffc73a;
	--color-info-base: #54a6ff;
	--color-red: #ed3f3f;
}
