:root {
	--color-primary-base: #3563e9 --color-primary-dark: #1a37a7 --color-primary-light: #658df1
			--color-secondary-base: #1a202c --color-secondary-dark: #0d121f,
		--color-secondary-light: #596780 --color-success-base: #9cd323 --color-error-base: #db2719
			--color-warning-base: #ffc73a --color-info-base: #54a6ff;
}
