.textInput {
	width: 385px;
	height: 55px;
	border-radius: 10px;
	padding: 15px 0 15px 40px;
	border: none;
	outline: none;
	background-color: var(--color-secondary-tiny);
	color: var(--color-secondary-light);
	margin-bottom: 25px;
}

.label {
	display: block;
	margin-bottom: 16px;
	font-weight: var(--font-weigh-sm);
	font-size: var(--font-size-md);
}
